<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro Page</title>
    <link rel="stylesheet" href="/form.css">
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
    <h1>WELCOME TO PROEDUCATOR</h1>
    
    <button type = "submit">
        <a href="/login">Login</a>
    </button>

    <button type = "submit">
        <a href="/register">Register</a>
    </button>
</div>
</body>
</html>